@import 'mantine-datatable/styles.css';

:root {
  @mixin light {
    --mantine-color-body: #ffffff;
  }

  @mixin dark {
    --mantine-color-body: #0a0a0a;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: var(--mantine-color-body);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
